<%- include("parciais/cabeca") %>
    
    <div class="card">
        <h2>Lista de Tarefas</h2>
        <ul>
            <% tasks.forEach(task => { %>
                <li class="<%= task.completed ? 'concluida' : '' %>">
                    <span>
                        <%= task.title %>
                    </span>
                    <div class="acoes">
                        <button <%= task.completed ? 'style="display:none;"' : '' %> onclick="window.location.href='/tasks/<%= task.id %>'">
                            Concluir
                        </button>
                        <button onclick="window.location.href='/delTasks/<%= task.id %>'">
                            Excluir
                        </button>
                    </div>
                </li>
            <% }); %>
        </ul>

        <a class="button" href="/newTask">Nova Tarefa</a>
    </div>

<%- include("parciais/rodape") %>